@model PapaBob.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sausage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sausage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pepperoni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pepperoni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GreenPeppers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GreenPeppers)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Onions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Onions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
